<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace作用:命名空间,可以随便命名,但使用动态代理dao开发时,有特殊含义  -->
<!-- 
	动态代理Dao开发规范 
	1.namespace 必须是mapper接口的全类路径名
	2.statement的id标识必须mapper接口中的方法名
	3.输入参数必须与mapper接口中的方法参数一致
	4.输出参数必须与mapper接口中的返回值一致
-->
<mapper namespace="com.atguigu.mybatis.mapper.UserMapper">
  <select id="selectUserById" parameterType="long" resultType="com.atguigu.mybatis.pojo.User">
    select * from User where id = #{id}
  </select>
</mapper>